@using PagedList.Mvc;
@using PagedList;
<!DOCTYPE html>
<html>
<head>
    <!--网页编码-->
    <meta charset="utf-8">
    <!--响应式网页实现-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我的网络数据采集</title>
    <!--链接css文件-->
    <link rel="stylesheet" href="~/Content/css/backstage.css">
    <link rel="stylesheet" href="~/Content/css/styles.css">
    <link rel="stylesheet" href="~/Content/css/PagedList.css">
</head>
<body style="background-color: #EFEFEF !important" class="hidden">
    <!--导航栏-->
    <div id="header">
        <!--Logo-->
        <div>
            <img src="~/Content/img/logo.png" id="logo" alt="爬虫">
        </div>
        <!--该页标题-->
        <div id="title">
            <ul>
                <li><a href="/BackStage/UserMan" style="border-bottom: 3px solid rgb(255, 255, 0)">后台管理</a></li>
            </ul>
        </div>
        <!--用户名展示（直接链接到“个人中心”）-->
        <p id="user-show">
            欢迎，
            <a id="user-id"></a>
        </p>
        <!--登出按钮-->
        <div id="logout">
            <a href="/LoginReg/Login">退出登录</a>
        </div>
    </div>
    <!--主要内容-->
    <main class="main-container">
        <!-- 左侧导航栏 -->
        <div class="main-left">
            <ul>
                <li><a href="/BackStage/VideoMan" class="sidebar-link">视频管理</a></li>
                <li><a href="/BackStage/UserMan" class="sidebar-link">用户管理</a></li>
                <li><a href="/BackStage/CommentMan" class="sidebar-link">评论管理</a></li>
                <li><a href="/BackStage/AdvertiserMan" class="sidebar-link" style="background-color: rgb(178, 178, 179);">广告管理</a></li>
                <li><a href="/BackStage/OrderMan" class="sidebar-link">账单管理</a></li>
                <li><a href="/FrontStage/Index" class="sidebar-link">返回首页</a></li>
            </ul>
        </div>
        <!-- 右侧信息栏 -->
        <div class="main-right">
            <!-- 搜索栏 -->
            <div class="backsearch ">
                <!--GET方式提交搜索内容-->
                <form action="/Search/SearchAdvertiser" method="get">
                    <div class="backsearch-bar">
                        <!--使用value来存储搜索成功的值-->
                        <input type="text" name="searchTerm" placeholder="广告商名称丨关键字" value="@ViewBag.SearchTerm">
                        <button type="submit">查询</button>
                        <!--JS实现添加按钮-->
                        <button type="button" id="addButtonAdvertiser">添加</button>
                    </div>
                </form>
            </div>
            <!--用户信息-->
            <div class="list">
                <!--用表展示信息-->
                <table class="table">
                    <!--tr为行-->
                    <tr>
                        <!--使用th定义表头-->
                        <th>选择</th>
                        <th>ID</th>
                        <th>用户名</th>
                        <th>广告商名称</th>
                        <th>余额</th>
                        <th>广告内容</th>
                        <th>开始时间</th>
                        <th>结束时间</th>
                        <th>广告状态</th>
                        <th>广告花费</th>
                        <th>是否支付</th>
                    </tr>
                    <!--使用循环遍历advertiserTB-->
                    @foreach (var advertiser in Model)
                    {
                <tr>
                    <td>
                        <!--"?id= *user.id"用于确认提交哪条信息-->
                        <a href="/Edit/EditAdvertiser?id=@advertiser.advertiserID">编辑</a>
                        <!--访问DeleteUser()，删除用户-->
                        <a href="/BackStage/DeleteAdvertiser/@advertiser.advertiserID" onclick="return confirmDeleteAdvertiser(@advertiser.advertiserID)">删除</a>
                    </td>
                    <td>@advertiser.advertiserID</td>
                    <td>@advertiser.username</td>
                    <td>@advertiser.ad_name</td>
                    <td>@advertiser.balance</td>
                    <td>@advertiser.ad_content</td>
                    <td>@advertiser.start_date</td>
                    <td>@advertiser.end_date</td>
                    <td>
                        @(advertiser.status == 0 ? "未审核" :
                         advertiser.status == 1 ? "已审核" :
                         advertiser.status == 2 ? "播放中" :
                         advertiser.status == 3 ? "已结束" : "未审核"
                        )
                    </td>
                    <td>@advertiser.cost</td>
                    <td>
                        @(advertiser.payment_status == 0 ? "未支付" :
                          advertiser.payment_status == 1 ? "已支付" : "未支付")
                    </td>
                </tr>
                    }
                </table>
            </div>
        </div>
    </main>
    <div>
        <!-- 分页控件 -->
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("AdvertiserMan", new { page }))
    </div>
    <!--JS脚本-->
    <script>
        //在 Razor 视图中传递 TempData 的值给 backstage.js
        var TempDataNotice = '@TempData["notice"]';
        var ViewBagNotice = '@ViewBag.notice';
    </script>
    <!--jquery引用-->
    <script src="~/Content/js/jquery-3.4.1.min.js"></script>
    <!--包含‘TempData提示’、‘ViewBag提示’、‘清空表单’、‘检查空信息’、‘用户名记录’、‘登出按钮’、‘删除用户’-->
    <script src="~/Content/js/backstage.js"></script>
    <script src="~/Content/js/advertiserman.js"></script>
    <!--页脚-->
    <footer id="footer">
        <div class="footer-info">
            <p>&copy; 2023 12580资源网 </p>
            <p>联系方式: 2434260208@qq.com</p>
        </div>
    </footer>
</body>
</html>